body{
	background:#EEE;
	color:#F90;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
	color:#F90;
}

h2{
	margin-bottom:1px;
	margin-top:1px;
}


a{
	color:#F40;
}
a:hover{
	color:#BF8630;
}

#container{
	width:900px;
	margin:0 auto;
}

.high_Sa{
	color:#0BF;
	font-weight:bold;
}
.high_Su{
	color:#F40;
	font-weight:bold;
}
.high_today{
	color:#FFF;
	background:#FB4;
}
.backhigh{
	background:#FFE4BB;
}

.border{
	margin:0 0 2px 0;
	padding:4px 0;
	
	text-align:center;
	
	background:#FFF;
	border:solid 1px #F90;
	border-radius:6px;
	box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
}

.border div.text{
	padding:1px 5px;
}

.left{
	margin:0 0 2px 0;
	padding:0 1px 0 0;
	width:159px;
	float:left;
}

.right{
	margin:0 0 2px 0;
	padding:0 0 0 1px;
	width:369px;
	float:right;
}

.middle{
	margin:0 auto 2px 159px;
	padding:0 2px 0 2px;
	width:368px;
}


.table_sum td{
	border-top:solid 2px #F40;
	font-weight:bold;
}


.databoard_100{
	width:100%;
	height:100px;
	border-collapse:collapse;
}
.databoard_50{
	width:100%;
	height:50px;
	border-collapse:collapse;
}
.databoard_100 tr, .databoard_50 tr{
	border-bottom:1px solid #F90;
}
.databoard_100 td, .databoard_50 td{
	vertical-align:bottom;
	padding-bottom:0;
}
.databoard_100 td div, .databoard_50 td div{
	background:#F90;
}
.databoard_100 td div:hover, .databoard_50 td div:hover{
	background:#BF8630;
}

.Auflistung{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	
	text-align:left;
	
	border-collapse:collapse;
}

.Auflistung a{
	text-decoration:none;
}

.Auflistung th{
	text-align:center;
	color:#FFF;
	background:#F90;
}

.Auflistung td{
	padding-left:3px;
	padding-right:3px;
}

.Auflistung .perc div{
	height:0.8em;
	/*font-size:50%;
	overflow:hidden;*/
	margin:1px;
	background:#F90;
}
.Auflistung .perc div:hover{
	background:#BF8630;
}

.Auflistung .icell{
	vertical-align:middle;
	text-align:center;
	padding:0;
	margin:0;
}

.Auflistung .text{
	text-align:center;
}


.footer{
	margin-top:20px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:right;
	clear:both;
	
	border-top:solid 2px #F90;
}

/*MENU*/

.menu { height:1.5em; position:relative; margin-bottom:2px; width:898px;}
.menu td {vertical-align:top;}
.mainentry {width:100px; float:left;}
.mainentry ul{display:none; list-style-type:none;}
.mainentry:hover ul{display:block;}

.menu{border:solid 1px #F90;background:#FFE4BB; border-radius:6px; box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);}
.mainentry a{text-decoration:none}
.mainentry ul{background:#FFF; border:solid 1px #F90; border-radius:6px; box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5); margin:0px; padding:4px;}
